<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

	<link type="text/css" href="/css/main.css" rel="stylesheet" media="screen" />
	<link type="text/css" href="/css/style.css" rel="stylesheet" media="screen" />

	<link rel="icon" type="image/png" href="/images/favicon.png" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript" src="/js/cufon.js"></script>
	<script type="text/javascript" src="/js/qlassik.font.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<title>PT Reply</title>

</head>

<body>
<div id="wrapper">

	<div id="header" class="col-full">

		<div id="logo">

			<h1 class="site-title"><a href="/">PT Reply</a></h1>

		</div><!-- /#logo -->

	</div><!-- /#header -->

	{% if user %}
	<div class="content">
		<img class="check" src="/images/check.png" id="check-token" />
		<div id="user-info"><span class="nickname">{{ user.nickname }}</span> <a id="logout" href="{{ url }}">logout</a></div>
		<div>
			<h2>Step 1 - Pivotal Tracker Token</h2>
			<p>We need your Pivotal Tracker API token to access your projects on your behalf.</p>
			<div id="token-auto">
				<p class="warning">
					<b>Warning:</b> due to current App Engine limitations your username and password will be sent in the clear.<br /> If you are concerned you can manually enter your token instead.
				</p>
				<span id="lookup-token-error" class="error"></span>
				<form action="post" id="lookup-token">
					<table>
						<tr><td><label>Pivotal Tracker Username</label></td><td><label>Pivotal Tracker Password</label></td><td></td></tr>
						<tr><td>
							<input type="text" name="username" id="username"/>
						</td><td>
							<input type="password" name="password" id="password"/>
						</td><td>
							<input type="submit" value="Get My Token">
						</td><td>
							<a id="prefer-token-manual" href="#">I'd rather enter my token manually.</a>
						</td></tr>
					</table>
					<p class="hint">We never store your password. It is only used once to find your API token.</p>
				</form>
			</div>
			<div id="token-manual">
				<p>Your token can be found on your <a href="https://www.pivotaltracker.com/profile" target="_blank">profile page</a> in PivotalTracker.</p>
				<span id="submit-token-error" class="error"></span>
				<form action="post" id="submit-token">
					<table cellspacing="4">
					<tr><td colspan="3"><label>Pivotal Tracker API Token</label></td></tr>
					<tr><td>
						<input type="text" name="token" id="token" size="40" />
					</td><td>
						<input type="submit" value="Save Token">
					</td><td>
						<a id="prefer-token-auto" href="#">Cancel</a>
					</td></tr>
					</table>
				</form>
			</div>
			<span id="have-token">
			  Your token is <span id="view-token">{{ token }}</span>.
			  <a id="remove-token" class="remove" href="#">Clear token.</a>
			  <br /><br />
			</span>
			<script>
			$(function() {
				{% if havetoken %}
					$('#have-token, #check-token').show();
					$('#token-auto, #token-manual').hide();
				{% else %}
					$('#have-token, #token-manual').hide();
					$('#token-auto').show();
				{% endif %}
			});
			</script>
		</div>
	</div>
	<div class="content">
		<img class="check" src="/images/check.png" id="check-email" />
		<h2>Step 2 - Email Addresses</h2>
		<p>These are the email address that you will be using to communicate with Pivotal Tracker.</p>
		<div class="pt_emails">
			{% if emails %}
			<ul>
			  {% for email in emails %}
				<li>
				  <span class="email">{{ email }} <a href="#{{ email }}" class="remove email">X</a></span>
				</li>
			  {% endfor %}
			</ul>
			{% endif %}
		</div>
		<br />
		<div class="getemail">
			<span id="submit-email-error" class="error"></span>
			<form action="post" id="submit-email">
				<input type="text" name="email" id="email"/> <input type="submit" value="Add My Email">
				<p class="hint">You can enter multiple email addresses separated by a comma.</p>
			</form>
		</div>
		<script>
		$(function() {
			{% if has_email %}
			$('#check-email').show();
			{% endif %}
		});
		</script>
	</div>

	<div class="content">
		<img class="check" src="/images/check.png" id="check-signature" />
		<h2>Step 3 - Email Signatures (optional)</h2>
		<p>The easiest and most accurate way to set your signature is to send an email containing only your signature to <span class="email">
		<a href="mailto:sig@ptreply.com">sig@ptreply.com</a></span>.</p>

		<span class="have-signature">
			{% if signatures %}
			<ul>
				{% for signature in signatures %}
				<li>
					<div>
						<span class="signature">{{ signature.text }}</span>
					</div>
					<a href="#{{ signature.index }}" class="remove signature">X</a>

					{% if signature.is_html %}
						<a class="html" href="#">view html</a>
					{% endif %}
				</li>

				{% if forloop.counter|divisibleby:"3" %}
				<li style="clear:both;"></li>
				{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</span>

		<div style="clear: both;"></div>

		<a href="#" id="show-signature-advanced">Manual Entry</a>
		<div id="signature-advanced">
			Your email signature will be removed from comments if it is present when you reply.<br />
			<span id="submit-signature-error" class="error"></span>
			<form id="submit-signature">
				<textarea name="signature" id="signature" cols="40" rows="7"></textarea><br />
				<input type="submit" value="Save Signature">
			</form>
		</div>
		<script type="text/javascript">
		$(function() {
			{% if has_signature %}
			$('#check-signature').show();
			{% endif %}
		});
		</script>
	</div>
	<div class="content">
		<img class="check" src="css/images/check.png" id="check-comments" />
		<h2>Step 4 - Use it!</h2>
		<p>When a Pivotal Tracker email arrives, hit reply and replace <span class="email">tracker-noreply@pivotaltracker.com</span> with <span class="email">send@ptreply.com</span> in the to field.</p>
		<p class="tip">Tip: if you use GreaseMonkey and Gmail, here is a <a href="/js/ptreply-gmail.user.js">userscript</a> that will do this for you automatically.</p>
		<script type="text/javascript">
		$(function() {
			{% if has_comments %}
			$('#check-comments').show();
			{% endif %}
		});
		</script>
	</div>

	{% else %}
	<div class="content">
		<h3 id="login"><a href="{{ url }}">Login using your Google account to get started.</a></h3>
	</div>
	{% endif %}

	<div id="footer" class="col-full">

		<div id="copyright">
			<p>
				PT Reply is <a title="source code" href="https://github.com/chrisvaughn/pt-mail">open source</a>.
				<img class="divider" src="/images/footer-sep.png" width="2" height="19" alt="" />
				We completely butchered <a href="http://www.woothemes.com/2011/01/placeholder/">Placeholder</a> from <a href="http://www.woothemes.com/amember/go.php?r=37255&i=b16"><img src="/images/woothemes.png" width="74" height="19" alt="Woo Themes" /></a>.
			</p>
		</div>

	</div><!-- /#footer  -->

</div><!-- /#wrapper -->
</body>
</html>