body {
	font-family: Helvetica, Verdana, Arial;
	color: black;
}

a {
	color:black
}

p {
	font-size: 14px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 28px;
}

td {
	padding: 3px;
}

#header {
	height: 80px;
	background-color:#ddd;
}

#header h1 {
	font-size: 50px;
	margin-left: 60px;
}

#content {
	min-height: 600px;
}

span.email {
	background-color: #efefef;
	font-family: monospace;
	padding: 3px;
}

span.signature {
	font-family: monospace;
	padding: 3px;
}

span.have-signature ul li {
	margin-bottom: 5px;
}


.right-align {
	float: right;
}

.have-token,
.show-token {
	display: none;
}

.error,
.remove {
	color: red;
}
