/* === WooThemes modifications === */
#logo {
	padding-left: 120px;
	background: url(/images/logo.png) top 100px no-repeat;
	height: 138px;
}

#logo h1 {
	padding-top: 40px;
}

#logo .site-title a {
	font-size: 48pt !important;
	text-decoration: none !important;
}

#header {
	padding: 10px 0 !important;
}

h1.site-title {
	display: block !important;
}

h2, h3 {
	font-size: 24px !important;
	margin: 0 0 0.25em !important;
}

h3 {
	text-align: center;
}

h3#login {
	margin-top: 1em !important;
}

p {
	margin-bottom: 1em !important;
}

div.content {
	position: relative;
	min-height: 60px;
	width: 650px;
	padding: 25px 50px;
	margin: 0 auto;
	margin-bottom: 2em;
}

td {
	padding-left: 0.5em !important;
}

td:first-child {
	padding: 0 !important;
}

input[type=submit], input[type=button] {
    border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

/* === PT Reply === */

.check {
	position: absolute;
	left: -31px;
	top: 6px;
	display: none;
}

a#logout {
	border-color: #EFEFEF #CCCCCC #CCCCCC #EFEFEF;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
}

span.nickname {
	font-weight: bold;
}

span.email {
	background-color: #efefef;
	font-family: monospace;
	padding: 3px;
}

span.signature {
	font-family: monospace;
}

span.have-signature ul li {
	margin-bottom: 5px;
}


#user-info {
	float: right;
	margin-right: -45px;
	margin-top: -15px;
}

.have-token,
.show-token,
#signature-advanced {
	display: none;
}

.error,
.remove {
	color: red;
}

p.warning {
	color: #ff6600;
}

p.tip {
	color: green;
}

p.tip a {
	color: green;
	text-decoration: underline;
}

div#token-manual {
	display: none;
}

label {
	font-weight: bold;
}

ul li { display: inline; position: relative; }

a.remove.signature {
	position: absolute;
    right: 0px;
    top: 0px;
}

a.remove.signature:hover {
	top: -1px;
	right: -1px;
}

a.remove {
	padding: 0 3px;
	text-decoration: none;
}

a.remove:hover {
	text-decoration: none;
	border: 1px solid red;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#view-token {
	font-weight: bold;
}

.hint {
	color: #aaa;
}

/* === Signatures === */
span.have-signature ul li {
	float: left;
	margin-bottom: 1.5em;
}

span.have-signature ul li div {
	width: 150px;
	min-height:8em;
	z-index: 2;
	background-color: #fff;
    padding: 5px 20px;
    position: relative;
    margin-right: 5px;
    overflow: auto;
	border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

a.remove.signature {
	z-index: 3;
	margin-right: 5px;
	background-color: #fff;
	border: 1px solid #CCCCCC;
    border-radius: 0px 5px 0px 5px;
    -webkit-border-radius: 0px 5px 0px 5px;
}

a.remove.signature:hover {
	margin-top: 1px;
	margin-right: 6px;
	border: 1px solid #f00;
}

a.html {
	top: -1.4em;
	width: 150px;
	position: relative;
	background-color: #3088FF;
    padding: 2px 20px;
	font-size: 12px;
	font-variant: small-caps;
	color: #fff !important;
	text-align: center;
	display: block;
    margin-right: 5px;
    margin-bottom: -1.5em;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
}

a.html:hover {
	top: -3px;
}

